/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/theming';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movie-primary: mat.define-palette(mat.$amber-palette);
$movie-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movie-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movie-light-theme: mat.define-light-theme(
    (
        color: (
            primary: $movie-primary,
            accent: $movie-accent,
            warn: $movie-warn,
        ),
    )
);

$movie-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $movie-primary,
            accent: $movie-accent,
            warn: $movie-warn,
        ),
    )
);

// Light theme
// $light-primary: mat.define-palette(mat.$amber-palette);
// $light-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
// $light-warn: mat.define-palette(mat.$red-palette);
// $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// Dark theme
// $dark-primary: mat.define-palette(mat.$amber-palette);
// $dark-accent: mat.define-palette(mat.$orange, A200, A100, A400);
// $dark-warn: mat.define-palette(mat.$red-palette);
// $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($movie-dark-theme);

@media (prefers-color-scheme: light) {
    @include mat.all-component-themes($movie-light-theme);
}

@media (prefers-color-scheme: dark) {
    @include mat.all-component-themes($movie-dark-theme);
}

/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-ok {
    background: #1b5e20;
    color: whitesmoke;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8);
}
.snackbar-error {
    background: #610101;
    color: whitesmoke;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
        width: 20em;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;
        margin: 0 auto;
        border-radius: 1em;

        h2 {
            text-align: center;
            font-weight: 400;
        }

        .submit-button {
            margin: 3em auto 1em;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
