.app-toolbar {
  z-index: 2;
}

.sidenav-container {
  z-index: 1;
}

mat-sidenav-content {
  padding: 0rem;
  box-sizing: border-box;
}

a[mat-button] {
  color: grey;
  &.active {
    color: black
  }
}
